<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5.2"/>
  
    <!--<customErrors mode="RemoteOnly" defaultRedirect="~/_404.aspx" redirectMode="ResponseRedirect">
        <error statusCode="404" redirect="~/_404.aspx" />
        <error statusCode="404.0" redirect="~/_404.aspx" />
    </customErrors>-->
  <customErrors mode="Off"></customErrors>
  </system.web>

<system.webServer>
  <httpErrors errorMode="Custom" existingResponse="Replace">
    <remove statusCode="404" subStatusCode="-1" />
    <!--<remove statusCode="500" subStatusCode="-1" />-->
    <error statusCode="404" path="_404.aspx" responseMode="Redirect" />
    <!--<error statusCode="500" path="_500.aspx" responseMode="Redirect" />-->
  </httpErrors>
</system.webServer>
</configuration>